# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory
.Trash-*

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Logs & temp
*.log
*.tmp
